.no-scroll {
  overflow: hidden;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 48px;
  height: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.loader div {
  width: 14px;
  height: 14px;
  background-color: #3498db;
  animation: fade 1.2s infinite ease-in-out;
}

.loader div:nth-child(1) { animation-delay: 0.1s; }
.loader div:nth-child(2) { animation-delay: 0.2s; }
.loader div:nth-child(3) { animation-delay: 0.3s; }
.loader div:nth-child(4) { animation-delay: 0.4s; }
.loader div:nth-child(5) { animation-delay: 0.5s; }
.loader div:nth-child(6) { animation-delay: 0.6s; }
.loader div:nth-child(7) { animation-delay: 0.7s; }
.loader div:nth-child(8) { animation-delay: 0.8s; }
.loader div:nth-child(9) { animation-delay: 0.9s; }

@keyframes fade {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

#content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s;
}

#content.show {
  opacity: 1;
  visibility: visible;
}


* {
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Outfit-bold';
  src: url('media/Outfit-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('media/Outfit-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BEYNO';
    src: url('media/BEYNO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mohave';
    src: url('media/Mohave-Light.ttf') format('truetype');
    font-style: normal;
}

.mohave-text{
    font-family: 'Mohave', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    color: aqua;
}

.outfit-text {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: aqua;
    text-decoration: none;
}

.beyno-text {
    font-family: 'BEYNO', sans-serif;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.outfit-bold-text{
  font-family: 'Outfit-bold' sans-serif;
}

.no-underline {
    text-decoration: none;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 70%, #111111), url('media/ZairzaMain.png') ;
  background-position: center;
  background-size: cover;
  position: relative;
  
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 94px;
  background-color: #111111;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.zairzest-logo {
  font-family: 'BEYNO', sans-serif;
  font-size: 35.2px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 12px;
}

.version {
  font-family: 'Mohave', sans-serif;
  font-size: 35.2px;
  color: #38CCFF;
  text-transform: uppercase;
  letter-spacing: 12.82px;
}
.navbar-right {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgb(64, 64, 251);
}

.text-box{
  font-family: 'Outfit-bold', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding-top: 200px;
  padding-left: 200px;
}

.button{
  padding-top: 50px;
  padding-left: 200px;
}

.hero-btn{
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  display: inline-block ;
  text-decoration: none;
  color: #38CCFF;
  border: 2px solid #38CCFF;
  padding: 13px 20px;
  font-size: 16px;
  background: transparent;
  border-radius: 6px;
  margin-right:14px ;
}

.hero-btn:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color: #38CCFF;
  color: #ffffff;
  transition: background-color 0.7s ease, color 0.7s ease;
}

.hero-btn2{
  font-family: 'Outfit-bold', sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #111111;
  border: 2px solid #38CCFF;
  padding: 13px 20px;
  font-size: 16px;
  background: #38CCFF;
  border-radius: 6px;
}
.hero-btn2:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color: #38CCFF;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.zen {
  background-color: #111111;
  color: white;
  padding: 100px 60px;
  font-family: 'Outfit', sans-serif;
}

.cyber-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1400px;
  margin: auto;
  flex-wrap: wrap;
}

.cyber-image img {
  max-width: 636px;
  width: 100%;
}

.cyber-text h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
}

.cyber-text .highlight {
  color: #38ccff;
}

.cyber-text p {
  margin-top: 20px;
  font-size: 16px;
  max-width: 540px;
}
.Events-for-you{
  margin: auto;
  text-align: center;
  padding-top: 30px;
  width: 100%;
  height: 80vh;
  background-color: #111111;
}

.Events-for-you .head{
  font-family: 'Outfit-bold', sans-serif ;
  color: #38CCFF;
  font-size: 40px;
  line-height: 1.2;
}

.Events-for-you .para{
  font-family: 'Outfit', sans-serif;
  color: #fff;
  font-size: 16px;
  font-style: italic;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.event-card {
  position: relative;
  width: 500px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.event-card:hover{
  scale: 1.1;
    transition: all 0.5s;
}

.event-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.text-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-align: left;
}

.text-overlay h2 {
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Outfit-bold', sans-serif;
}

.text-overlay p {
  margin: 5px 0 0;
  font-size: 1rem;
  font-family: 'Outfit', sans-serif
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 70px 50px;
  background-color: #1a1a1a;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 500px;
  height: 250px;
}

.footer-left h2 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 10px;
  font-family: 'Oufit-bold', sans-serif;
  font-weight: 750;
}

.footer-left p {
  color: #ffffff;
  font-size: 16px;
  margin: 10px 0;
  line-height: 1.6;
  font-family: 'Oufit', sans-serif;
  padding-top: 30px;
}

.footer-left address {
  color: #fff;
  font-style: 10px;
  margin-top: 20px;
  font-size: 12px;
  font-family: 'Oufit', sans-serif;
  padding-top: 25px;
}

.footer-right {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  background-color: #31cdfd;
  color: #111;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s ease;
}

.social-icons a:hover {
  background-color: #1f9dc2;
}

.presented-by {
  margin-left: 180px;
  font-size: 0.9rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.presented-by img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-right {
    align-items: flex-start;
    margin-top: 30px;
  }
}

@keyframes appear-right{
  from{
    transform: translateX(-200px);
  }
  to{
    transform: translateX(0px);
  }
}
@keyframes appear-up{
  from{
    transform: translateY(100px);
  }
  to{
    transform: translateY(0px);
  }
}

.text-box{
  animation: appear-right 0.7s linear;
}
.button{
  animation: appear-right 0.7s linear;
}
.cyber-container{
  animation: appear-up 0.5s linear;
}

/*------FunEvents------*/

.events-board{
  width: 100%;
  height: 210vh;
  background-color: #111111;
}

.card-container2 {
  perspective: 1000px;
  width: 350px;
}

.card {
  width: 100%;
  height: 585px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}

.card-front {
  background: #1f1f1f;
  color: white;
}

.card-front img {
  margin: 20px;
  width: relative;
  height: 385px;
  object-fit: cover;
}

.card-info {
  padding: 10px;
}

.flip-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #38CCFF;
  cursor: pointer;
}

.card-back {
  background: linear-gradient(to bottom, #008CFF, #000000); /* Gradient background */
  transform: rotateY(180deg);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-back p {
  color: #fff;
  font-family: 'Outfit', sans-serif;
  margin: 0;
}

.card.flipped {
  transform: rotateY(180deg);
}

.back-btn {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #38CCFF;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.back-btn:hover {
  transform: scale(1.05);
}

.card-wrapper {
  margin: 0px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 70px;
  justify-content: center;
}

/*----About Us-----*/

.Dalla {
  width: 100%;
  height: 170vh;
  background: #111111;
}
.Dalla h1{
  padding-top: 70px;
  color: #fff;
  font-family: 'Outfit', sans-serif;
  font-size: 60px;
  font-weight: bolder;
  text-align: left;
  padding-left: 200px;
}

.cry {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.cry img {
  width: 100%;
  max-width: 550px; 
  height: auto;
}